<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Microsoft Teams Hello World Sample App
  </title>
  <link rel="stylesheet" type="text/css" href="/styles/msteams-16.css">
  </link>
  <link rel="stylesheet" type="text/css" href="/styles/custom.css">
  </link>
  <script src="https://unpkg.com/mic-recorder-to-mp3@2.2.1/dist/index.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/@microsoft/teams-js/dist/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
  <script src="/scripts/teamsapp.js" defer></script>
</head>

<body class="theme-light">
  <div class="container">
  <button id="recordButton">Record your question</button><br /><br />
  <h4><label id="questionLabel" for="question">Your Question</label></h4>
  <textarea id="question" name="question"></textarea><br /> <br />
  <button id="tweet">Tweet Question</button>
  <button id="chatbot">Ask colla<b>BOT</b>hon</button><br /><br />
  <p id="warn" hidden></p>
</div>
</body>

</html>
