* {
    box-sizing: border-box;
    font-family: 'Calibri';
}
html {
    height: 100%;
    background-color: white;
}

body {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.container {
    background-color: #D7DAF9;
    border: 2px solid #0C0D18;
    width: 26rem;
    padding: 2rem;
    border-radius: 2rem;
}

button {
    background-color: #464EB8;
    color: #eee;
    padding: 0.7rem 0rem;
    border-radius: 0.2rem;
    width: 10rem;
    border: none;
    cursor: pointer;
}

#tweet {
    margin-right: 1rem;
}

textarea {
    width: 21rem;
    height: 5rem;
}

p {
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
}
